.footer{
  background-color: var(--sec-green);
  padding: 2rem 3rem;
  justify-content: space-evenly;

  .left{
    width: 60%;
    justify-content: space-between;
    .about{
      width: 60%;
    } 
  
    .links{
      gap: .35rem;
      width: 30%;
    }
  }

  .contact{
    gap: .5rem;
    width: 30%;

    input, textarea{
      background-color: transparent;
      padding: .25rem .5rem;
      border: 0 solid;
      border-bottom: 1px solid #c3c3c3;
      resize: none;
      width: 100%;

      &::placeholder{
        color: #eaeaea;
      }
    }

    button{
      background-color: #eee;
      color: black;
      border: 0 solid;
      padding: .25rem .5rem;
      border-radius: .25rem;;
    }
  }
}